@import "reset"

.overlay
    font-family: sans-serif
    line-height: 1.5
    position: fixed
    top: 0%
    left: 0%
    z-index: 10
    background: black
    color: white
    width: 300px
    padding: 20px

.nav
    position: fixed
    top: 50%
    transform: translateY(-50%)
    z-index: 100

div.nav
    height: 50px
    width: 50px
    cursor: pointer


    svg
        display: block
        height: 100%
        width: 100%

.left
    transform: rotate(-180deg)
    left: 2%

.right
    right: 2%

.stepsHelper
    position: fixed
    width: 50px
    height: 50px
    text-align: center
    line-height: 50px
    color: white
    z-index: 10
    background: red
    top: 0
    right: 0
